<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge</title>
</head>
<body>
    

<div id="app">
  <fieldset>
    <legend>Filtre sur le nom</legend>
    <input type="text" v-model="filtreNom">
  </fieldset>
  <fieldset>
   <legend>Options</legend>
   Homme <input type="checkbox" checked v-model="homme">
   Femme <input type="checkbox" checked v-model="femme">
   Telephone <input type="checkbox" checked v-model="tel">
    Photo <select name="" id="" v-model="taille">
<option value="1">Petit</option>
<option value="2">Moyen</option>
<option value="3">Grand</option>
    </select>
       Mise en forme <input type="checkbox" checked v-model="mef">

  </fieldset>
</div>

<script>
     app = Vue.createApp({

     })

     app.mount("#app")
</script>
</body>
</html>
